<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let pares of peliculas | pares;">
    <ion-row>
      <ion-col size="12" *ngFor="let par of pares;">
        <ion-card mode="md" (click)='verDetalle(par.id)'>
          <img class='poster' [src]="par.poster_path | imagen">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-slide>
  <ion-slide class = 'slide-mas'>
    <ion-button class = 'btn-mas' (click)="onClick()" expand="full" size="large">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-slide>
</ion-slides>