<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Peliculas favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let item of favoritesMovie">
    <ion-grid fixed *ngIf="item.movies.length > 0">
      <ion-row>
        <ion-col >
          <h4>{{item.genre}}</h4>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [peliculas]='item.movies' (isFav)="deleteFav()"></app-slideshow-poster>
    </ion-grid>
  </div>
</ion-content>
